body {

    background: rgb(82, 82, 90);
    
}

.box {

 max-width: 30px;
 /* word-break: break-all; */
 overflow-wrap: anywhere;
 /* text-align: justify;
 text-justify: inter-word; */

 


}

.box, .flexbox1, .flexbox2 {
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
    background-color: rgb(141, 226, 43);
    
}

.flexbox1 {

    background-color: rgb(31, 211, 211);
}

.flexbox2 {

    background-color: rgb(206, 26, 197);
}

div {

    display: inline;
    min-height: 50px;
    min-width: 100px;
    padding: 1rem;
    margin: 1rem;
    border: 2px solid black;
   
}

.binding {

   border: 0;
} 

h1{

    display: block;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
    font-stretch: extra-expanded;
    text-shadow: 5px 3px 3px 5px red;

}

h1:hover {

    color: rgb(69, 125, 120);
    cursor: grab;
}